.category-title {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 10px;
}
