.navigation {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navigation .logo-container {
  margin: 30px;
}
.navigation .logo {
  height: 80%;
  width: 60px;
}
.links-container {
  display: flex;
  align-items: center;
}
.nav-link {
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
}
